{% extends 'layout.html' %}

{% block content %}
<div class="page-header">
<h1>Welcome to Customer[0]'s Ref-arch Beta Refresh (PCFS only) </A></h1>
<P>Thank you for participating in our Beta Refresh! Here is where you'll find the links to the unpublished new refarchs that will eventually fully replace the current ref-arch documentation hosted on docs.pivotal.io . 
<P>We are starting incrementally with the new base architecture and adding in AWS and Azure shortly thereafter. Our goal is to "bake" the new refarchs by giving PCFS access to them before we publish them to whole world. Your feedback is super important. Please take a look at the (insert new refarch logic - how base arch and iaases should be thought about). </P>	

<P>When you click any of the listed refarchs, you will be re-directed to a Pivots-only google doc with comment access where you'll be able to provide feedback directly as you begin using these new docs with customers. These are works in progress. Check out the &quot;Important FAQs&quot; tab for more information.</P>

</div>
{% endblock %}

{% block js %}
    {% parent %}
{% endblock %}
