{% extends 'layout.html' %}

{% block content %}
<div class="page-header">
<h1>Welcome to Customer[0]'s 2019 Ref-arch Beta Refresh (PCFS only) </A></h1>
<P><font size="+1">Thank you for participating in our Beta Refresh! Here is where you'll find the links to the unpublished new refarchs that will eventually fully replace the current ref-arch documentation hosted on docs.pivotal.io. 
<P>We are starting incrementally with the new base architecture, AWS and Azure. vSphere refresh will follow. GCP and OpenStack are not currently priorities. </P></font>	

<h2>What's the Purpose of this Beta?</A></h2>
<P><font size="+1">Our goal is for the Field to be able to use the new ref-archs with real customers and provide feedback to us. Think of this as our test bed before we publish or make these available to the entire world on docs.pivotal.io. We intend to "bake" the new refarchs by giving PCFS access early and frequently. Your feedback is super important.</font></P>

<h2>How to Access the 2019 Refreshed Beta Ref-Archs </A></h2>
<P><font size="+1">Click on <a href="/tour">"Ref-Arch Links"</a> in the top navigation. When you click any of the listed refarchs, you will be re-directed to a Pivots-only google doc with comment access where you'll be able to provide feedback directly as you begin using these new docs with customers. Keep in mind: These are works in progress. Check out the &quot;Important FAQs&quot; tab for more information.</font></P>

<h2>How do I Provide Feedback?</A></h2>
<P><b><font size="+1">For minor changes or copy updates:</b> Provide feedback directly as comments in the ref-arch documents linked <a href="/tour">here</a>.</P>

<P><b>For larger requests, usability issues or generalized feedback:</b> Provide feedback <a href="https://docs.google.com/forms/d/1QsvJY3hr2q0axjUPC4sX7KkeQOGxE8eAp6eSN1WP1w8/edit">using this form.</a></font></P>

</div>
{% endblock %}

{% block js %}
    {% parent %}
{% endblock %}
