{% extends 'layout.html' %}
{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <style>
      .foo {
        background-color: blue;
      };
    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Ref-Arch Document Links</h1>
    <OL>
<LI><b><a href="https://docs.google.com/document/d/1TVecDs98OEqyiVA93Iy72U6bVYtMq6BCKjLkSiT-jDY/edit">Base Architecture Reference Architecture 2019-Base-Deployment</a><br><BR></LI>
<LI><b><a href="https://docs.google.com/document/d/12KcsTux8ZAjN4x2W6edlcI5oaHDiclGmgN4ebWcPgKs/edit">AWS Ref Arch 2.0 </a><br><BR></LI>
<LI><b><a href="https://docs.google.com/document/d/1Kucmub3w7tCETnbJconQRE6wGMem_uh8lng4hIHl_N0/edit?usp=sharing">Azure Ref Arch 2.0 </a><br><BR></LI>
</OL> 



    </div>


{% endblock %}

